# http://www.gnu.org/software/automake

Makefile.in
Makefile

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.*
/config/*

#

/**/*~
src/tm-cleanup.sh
man/tm-cleanup.sh.1

.idea/
